@font-face {
  font-family: "Open Sans";
  src: local('Open Sans'), local('OpenSans'), url(http://allfont.de/cache/fonts/open-sans_5f14bd2f3cd41e7b13ff8bc4177c9d06.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Bold";
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://allfont.ru/cache/fonts/open-sans-bold_5231939d0cda13eb1fd5685f7264eb76.woff) format('woff');
  font-weight: 700;
}