// Necessary for the webpack build
@font-face {
  font-family: "Walsheim";
  src: url("../../public/assets/fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Walsheim";
  src: url("../../public/assets/fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: 700;
}