@import "reset";
@import "variables";
@import "fonts";
@import "common";

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $base-font-color;
    background-color: white;
}

button {
    font-family: $base-font-family;
}