
// colors
$black: #202023;
$gray-light: #C3C2CF;
$gray: #F8F8F7;
$white: #fff;
$blue: #4262FF;
$flower-blue: rgba(102, 153, 255, 0.2);

// typography
$base-font-family: 'Open Sans', arial;
$base-bold-font-family: 'Open Sans Bold', arial;
$base-font-size: 14px;
$base-line-height: 1.25rem;
$base-font-color: $black;

$normal-font-weight: 500;
$bold-font-weight: 800;

// container
$board-max-width: 540px;
$board-max-height: 300px;
$emails-list-max-width: 440px;
$bord-content-min-height: 96px;

// Button
$email-item-min-height: 24px;

:root {
  --baseline: 8px;
  --baseline-1: calc(var(--baseline) / 2);      // 4
  --baseline-2: calc(var(--baseline));          //8
  --baseline-3: calc(var(--baseline) / 2 * 3);  // 12
  --baseline-4: calc(var(--baseline) * 2);      // 16
  --baseline-5: calc(var(--baseline) / 2 * 5);//20
  --baseline-6: calc(var(--baseline) * 3);//24
  --baseline-7: calc(var(--baseline) / 2 * 7);//28
  --baseline-8: calc(var(--baseline) * 4);//32
}

