
// colors
$black: #202023;
$gray-light: #f4f4f4;
$gray: #c4c4c4;
$white: #fff;
$blue: #4262FF;

$base-font-color: $black;

// typography
$base-font-family: "OpenSans";
$base-font-size: 14px;
$small-font-size: 0.875rem;
$base-line-height: 1.25rem;

$h2-font-size: $base-font-size * 2;
$h4-font-size: $base-font-size * 1.2;

$normal-font-weight: 500;
$bold-font-weight: 700;

// container
$bord-max-width: 540px;
$emails-list-max-width: 440px;

// Button
$button-min-height: 40px;
$email-item-min-height: 24px;

// Icons
$icon-size: 30px;

:root {
  // spacing
  --base-font-size: 14px;
  --spacer-1: calc(var(--base-font-size) / 2);
  --spacer-2: calc(var(--base-font-size));
  --spacer-4: calc(var(--base-font-size) * 2);

  --base-button-spasing: 8px;
  --button-spacer-1: calc(var(--base-button-spasing));
  --button-spacer-2: calc(var(--base-button-spasing) * 2);
  --button-spacer-3: calc(var(--base-button-spasing) * 3);
}

