@import "src/styles/variables";

.root {
  display: flex;
  flex-direction: column;
  width: $board-max-width;
  height: $board-max-height;
  box-shadow: 0 var(--baseline-2) var(--baseline-6) rgba(0, 0, 0, 0.2);
  background-color: $gray;
  border-radius: var(--baseline-2);

  .top {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 $root-spacing;
    margin-bottom: var(--baseline-6);
  }

  .title {
    padding-top: var(--baseline-8);
    padding-bottom: var(--baseline-6);
    font-size: 20px;
    color: $black;

    span {
      font-family: $base-bold-font-family;
      font-weight: bold;
    }
  }

  .content {
    position: relative;
    height: 100%;
    max-height: $board-content-min-height;
    padding: 0;
  }

  .controls {
    display: flex;
    flex-direction: row;
    padding: var(--baseline-6) 0 var(--baseline-7) $root-spacing;
    background-color: $white;

    button {
      margin-right: var(--baseline-2);
    }
  }
}

.boardContent {
  width: 100%;
  height: 100%;
  background-color: $white;
  border-radius: var(--baseline-1);
  padding: var(--baseline-1);
  padding-bottom: var(--baseline-2);
  overflow-y: scroll;
  border: 1px solid $gray-light;
}

.baseBoardItem {
  display: inline-block;
  margin-top: var(--baseline-1);
  margin-left: var(--baseline-1);

  span {
    line-height: $email-item-min-height;
    vertical-align: center;
  }
}

.boardItem {
  position: relative;
  background-color: $flower-blue;
  border: $flower-blue solid 1px;
  border-radius: 100px;
  padding: 0 var(--baseline-4) 0 var(--baseline-2);

  span {
    padding-right: var(--baseline-1);
  }

  .closeButton {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: transparent;
    padding: 0;
    border: none;

    &:focus {
      outline: none;
    }

    svg {
      pointer-events: none;
    }
  }
}

.invalidBoardItem {
  background-color: white;
  border: none;
  border-bottom: 1px dashed red;
  border-radius: unset;
  margin: 0 4px 0 8px;
  padding: 0 8px 0 0;
}

.newBoardItem {
  padding: 0 var(--baseline-1);

  input {
    color: $gray-light;
    border: none;
    line-height: $email-item-min-height;

    &:focus {
      outline: none;
      box-sizing: border-box;
    }
  }
}
