@import "../../../styles/variables";

.root {
  background-color: blue;
  border-radius: 6px;
  border: none;
  padding: var(--baseline-2) var(--baseline-4);

  span {
    color: $white;
    font-size: var(--base-font-size);
    line-height: var(--baseline-6);
    vertical-align: center;
  }
}