@import "../../../styles/variables";

.root {
  background-color: $blue;
  border-radius: 6px;
  border: none;
  height: 100%;

  span {
    color: $white;
    line-height: var(--baseline-6);
    margin: var(--baseline-2) var(--baseline-4);
  }
}